body {
  background: url(/Users/andersongh/react-app/my/src/odontologia.jpg);
  background-size: 100vw 110vh;
  background-repeat: no-repeat;
  opacity:1;
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.dropdownUno {
  margin-left: 60px;
}
.Navbar-button {
  margin-left: 50rem;
  width: 150px;
  height: 3rem;
  font-size: 1rem;
  border-radius: 5rem;
  padding-top: 1px;
  padding-bottom: 1px;
  color: white;
  background-color: coral;
  border: none;
  font-weight: bold;
  margin-top: 20px;
}


.enviar-mail__cuerpo {
  padding: 2rem;
  margin-top: 2rem;
  text-align: justify;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.enviar-mail__imagen {
  height: 100px;
  padding: 2rem;
}
.enviar-mail__boton {
  border-radius: 100px;
  background-color: coral;
  border: none;
  padding: 7px;
  margin-left: 17px;
  margin-bottom: 5px;
}
.enviar-mail__form {
  padding-left: 1rem;
  width: 300px;
  margin-left: 1rem;
  background-color: white;
  border-radius: 2rem
  
  ;
}
.enviar-mail__input {
  padding: 5px;
  width: 100%;
}